<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Acerca de este proyecto</title>
    <link rel="icon" type="image/png" href="{{ url_for('static', filename='img/O_logo.png') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <script src="{{ url_for('static', filename='js/inicio.js') }}"></script>
    <style>
        a{
            text-decoration:underline;
            color: white;
            margin: 10 px;
        }
        h2{
            color: #ffffff;
        }
        .justify{
            text-align:justify;
        }
        .contenedor_grisoscuro{
            padding: 20px 40px;
            margin-top: 40px;
        }
        body{
            line-height: 1.5;
            letter-spacing: 0.8;
        }
        ol{
            line-height: 2;
        }
    </style>
</head>
<body>
    <div class="conten_titulogo">
        <a onclick="regresarAlInicio(); return false;">
        <img class="titulogo" src="{{ url_for('static', filename='img/Ghostube_logo.png') }}" alt="Ghostube" style="width: 30vw; min-width: 100px; height: auto;">
        </a>
    </div>
    <div class="contenedor_grisoscuro">
        <h2>Proposito de Ghostube</h2>
        Este proyecto busca brindarte una experiencia muy comoda para ver tus propios videos con tu propio servidor ¡Totalmente local y aislado del internet!.
        <br> Hecho especificamente para esas personas que buscan una alternativa decente para la visualizacion de su 
        propio contenido a traves de una interfaz visual intuitiva, amigable e interactiva.
        <br> ¡Tambien hay control parental!

    </div>
    <div class="contenedor_grisoscuro ">
        <h2>Acerca de mí</h2>
            <div class="contenedorresponsivo">
                <div>
                    <p>
                        ¡Hola! Soy PixelPiña, el creador de Ghostube. Soy principalmente un animador e ilustrador 
                        independiente que intenta sobrevivir a base de sus proyectos.
                        <br>Principalmente creé este proyecto para ver mis propios videos descargados, asi que al principio esta aplicacion web era demasiado simple. 
                        Pero con el tiempo y con lo 'expancionista' que soy, la aplicacion fue creciendo, mejorando y corrigiendo varias interfaces, botones y funciones en pro de un uso mas intuitivo 
                        y una configuracion mas facil sin tener que tocar directamente el codigo.
                    </p>
                    <br>
                    <a href="https://instagram.com/pixelpina_" class="botono">Mi instagram</a>
                    <a href="https://github.com/PixelPiNa/Ghostube" class="botono2">Github</a>
                </div>
                <img src="{{ url_for('static', filename='img/pixelpina_logo.png') }}" style="max-width: 80vw; max-height: 300px;">
            </div>

    </div>
    <div class="contenedor_grisoscuro">
        <h2 id="ffmpeg" style="text-align: center;">Uso de FFmpeg y FFprobe</h2>
            <div style="min-width: 45%; padding: 20px; text-align: left;">
                    Ambos se usan para una mejor previsualizacion de contenido (miniaturas y duracion de los videos).
                    Pero son opcionales, Ghostube puede funcionar sin estos archivos.
                    <br><br> Si descargaste Ghostube desde fuentes oficiales como 
                    <a href="https://github.com/PixelPiNa/Ghostube" decoration="underline"> github.com/PixelPiNa/Ghostube </a>,
                    entonces ya tienes incluidos ffmpeg.exe y ffprobe.exe en la carpeta "extenzzziones" 
                    dentro de GhostubeDATA, y no necesitas hacer nada mas.
                    (Si estás usando linux, no necesitas esos archivos, los puedes borrar si quieres)
                    <br><br>
                    <h2 style="text-align: center;">Instalacion</h2>
                    <p class="texto_info"> Te recuerdo que si lo descargaste desde fuentes oficiales, ya tienes incluidos los archivos necesarios y no necesitas instalar nada. </p>
            </div>
            <div class="contenedorresponsivo">
                <div style="min-width: 45%; border: 1px solid #5c5656; border-radius: 8px; padding: 20px; text-align: left;">
                    <h4>Para usuarios de Windows:</h4>
                        Puedes descargar ffmpeg y ffprobe desde el sitio oficial de ffmpeg: 
                        <a href="https://ffmpeg.org/download.html#build-windows" target="_blank">https://ffmpeg.org/download.html#build-windows</a>,<br>
                         o usar la descarga directa de abajo. 
                        <br><br>
                        <a class="botono" href="https://github.com/BtbN/FFmpeg-Builds/releases/download/latest/ffmpeg-master-latest-win64-gpl.zip"> Descarga directa </a> <span class="texto_info"> Github Latest Auto-Build (2026-06-09 15:17)</span>
                        <br><br>
                        Después de descargar el archivo zip:
                        <ol>
                            <li>Descomprime el archivo zip descargado.</li>
                            <li>Entra a la carpeta descomprimida.</li>
                            <li>entra a la carpeta "bin"</li>
                            <li>Dentro de la carpeta "bin", encontrarás los archivos "ffmpeg.exe" y "ffprobe.exe".</li>
                            <li>Copia solo los archivos "ffmpeg.exe" y "ffprobe.exe", ignora el otro.</li>
                            <li>Pega los archivos copiados dentro de la carpeta "extenzzziones" que se encuentra dentro de "GhostubeDATA".</li>
                        </ol>
                        <p class="texto_info" > Ghostube\GhostubeDATA\extenzzziones </p>
                        
                        <br>
                </div>
                <div style="min-width: 45%; border: 1px solid #5c5656; border-radius: 8px; padding: 20px; text-align: left;">
                    
                    <h4>Para usuarios de Linux:</h4>
                    <p>
                        Ffmpeg y ffprobe suelen estar disponibles en los repositorios de tu distribución. Puedes instalarlos usando el gestor de paquetes de tu sistema. Por ejemplo, en Debian/Ubuntu puedes usar:
                        <br><br>
                        <code>sudo apt-get install ffmpeg</code>
                        <br><br>
                        En Fedora:
                        <br><br>
                        <code>sudo dnf install ffmpeg</code>
                </div>   
            </div>
    </div>
</body>
</html>