<!DOCTYPE html>
<html lang="es">
<head>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body style="background:#121212; color:white; font-family:sans-serif; text-align:center; padding-top:100px;">
    <img src="{{ url_for('static', filename='img/Config_logo.png') }}" alt="Ghostube" style="width: 10vw; min-width: 150px; height: auto;">
    <h1>🔒 Acceso Restringido</h1>
    <form method="POST">
        <input type="password" name="password" placeholder="Contraseña..." class="inputdetexto">
        <button type="submit" class="botono">Entrar</button>
    </form>
    <br>
    <a href="/" class="texto_info" style="font-size: 1rem;">Volver al cine</a>
</body>
</html>