<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Viendo: {{ video.titulo }}</title>
    
    <link href="{{ url_for('static', filename='css/tagify.css') }}" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">

</head>
<body>

<div class="contenedor">
    <!--<a href="{{ url_for('inicio') }}" class="btn-volver">← Volver a la lista</a>-->
    <a href="#" onclick="history.back(); return false;" class="botono_texto">← Retroceder              ||</a>
    <a href="{{ url_for('inicio') }}" class="botono_texto">🎬inicio </a>
     <div class="contenedor_grisoscuro" style="display: flex; justify-content: space-between; align-items: center; margin-bottom: 20px;">
        <div>
            {% if prev_id %}
                <a href="{{ url_for('ver_video', id_video=prev_id, q=q, modo_busqueda=modo_busqueda, orden=orden) }}" 
                   class="botono2">
                   🢀 Anterior
                </a>
            {% else %}
                <span class="inactive_botono">🡰 Inicio de la lista</span>
            {% endif %}
        </div>
        <div class="texto_info">
            {% if q %}🔎 Resultados de Búsqueda{% else %}📚 Colección Completa{% endif %}
        </div>
        <div>
            {% if next_id %}
                <a href="{{ url_for('ver_video', id_video=next_id, q=q, modo_busqueda=modo_busqueda, orden=orden) }}" class="botono">
                   Siguiente 🢂
                </a>
            {% else %}
                <span class="inactive_botono">Fin de la lista 🡲</span>
            {% endif %}
        </div>
    </div>
</div>
<div class="contenedorresponsivo">
    {% if video.tipo == 'imagen' %}
            <div >
                <img src="{{ url_for('stream_video', id_video=video.id) }}" class="multimedia"
                     style="border-radius: 8px; box-shadow: 0 0 20px rgba(0,0,0,0.5);">
            </div>
        {% else %}
            <video controls autoplay loop class="multimedia">
                <source src="{{ url_for('stream_video', id_video=video.id) }}" type="video/mp4">
                Tu navegador no soporta este video.
            </video>
        {% endif %}
    <div class="datos">
        <form action="{{ url_for('guardar_cambios', id_video=video.id) }}" method="POST">
            <label>Título del Video</label>
            <input type="text" class="inputdetexto" style="width: 100%;" name="titulo" value="{{ video.titulo }}">
            <label>Etiquetas (Escribe y presiona Enter)</label>
            <input name="tags" class="inputdetexto inputcien" style="width: 100%;" placeholder="Ej: accion, corto" value="{{ video.tags|map(attribute='nombre')|join(', ') }}">
            <label></label>
            <button type="submit" class="botono">
                Guardar Cambios
            </button>
        </form>
        <div class="texto_info" style="overflow-wrap: break-word; margin-top: 15px;">
            Ubicación: {{ video.ruta_completa }}
        </div>
    </div>
</div>


<script src="{{ url_for('static', filename='js/tagify.js') }}"></script>

<script>
    var input = document.querySelector('input[name=tags]');
    
    var tagify = new Tagify(input, {
        whitelist: [], 
        maxTags: 10,
        dropdown: {
            maxItems: 20,           
            classname: "tags-look", 
            enabled: 0,             
            closeOnSelect: false    
        }
    });

    fetch('/api/tags')
        .then(response => response.json())
        .then(listaTags => {
            tagify.settings.whitelist = listaTags;
        })
        .catch(err => console.log("Error cargando tags: ", err));

    tagify.on('change', function(e){
        // Mapeamos los valores para asegurar formato texto plano
        if(tagify.value.length > 0){
             input.value = tagify.value.map(item => item.value).join(', ');
        }
    });
</script>

</body>
</html>