venv/
env/

GhostubeDATA/instance/
*.db
*.sqlite3

GhostubeDATA/instalacion/

GhostubeDATA/extenzzziones/*.exe
GhostubeDATA/extenzzziones/FFMPEG-LICENSE.txt
GhostubeDATA/extenzzziones/CADDY-LICENSE.txt

GhostubeDATA/Caddyfile
asd.txt

GhostubeDATA/__pycache__/
*.pyc

# Archivos de sistema operativo
.DS_Store
Thumbs.db

GhostubeDATA/static/miniaturas/


