venv/
env/

GhostubeDATA/instance/
*.db
*.sqlite3

GhostubeDATA/instalacion/

GhostubeDATA/static/miniaturas/

GhostubeDATA/extenzzziones/

Caddyfile
puertos.txt

GhostubeDATA/__pycache__/
*.pyc

# Archivos de sistema operativo
.DS_Store
Thumbs.db