venv/
env/

instance/
*.db
*.sqlite3

instalacion/

GhostubeDATA/extenzzziones/*.exe
extenzzziones/
*.exe

__pycache__/
*.pyc

# Archivos de sistema operativo
.DS_Store
Thumbs.db

miniaturas/
*.jpg
*.jpeg
*.gif

